proposta/proposta-eo1/main.aux
proposta/proposta-eo1/main.bbl
proposta/proposta-eo1/main.blg
proposta/proposta-eo1/main.fdb_latexmk
proposta/proposta-eo1/main.fls
proposta/proposta-eo1/main.log
proposta/proposta-eo1/main.synctex.gz
proposta/proposta-eo1/main.pdf
